.aside {
    background-color: #fff;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    max-width: 25%;
    background-color: #fff;
}

.objectos {
    min-height: 10rem;
    background-color: rgb(183, 134, 207);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quadrado {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
}